/* Global Styles */

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.05rem;
}

nav {
  font-size: 18px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.08rem;
  border-bottom: 2px solid #60defe;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  background-color: #192430 !important;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.4rem;
  letter-spacing: 0.02rem;
}

/* Custom Styles */

/* ________________________________________________________________ */

/* Home Concert Page */

.container-home-fluid {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #091117 !important;
}

.home-jumbotron {
  height: 100vh;
  background-color: rgb(231, 231, 231);
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.221), #091117),
    url("./img/yvette-de-wit-NYrVisodQ2M-unsplash_edit-2.jpg");
  /* background-image: url("./img/yvette-de-wit-NYrVisodQ2M-unsplash_edit-2-2.jpg"); */
  background-size: cover;
  background-position: bottom;
  border-bottom: 5px solid #475668;
}

.home_jumbotron_welcome-div {
  border-radius: 10px !important;
  padding: 50px;
  margin-top: 200px;
}

.concert-header-div {
  border-radius: 10px;
  /* border: 2px #ccc solid; */
  /* box-shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 0.2); */
  /* background-color: rgba(255, 255, 255, 0.548); */
  /* padding: 50px; */
  height: auto;
}

.search-bar {
  /* min-width: 200px;
  max-width: 800px; */
  padding: 20px 0;

  /* margin-top: -20px; */
}

.search-bar input {
  /* width: 35rem; */
  height: 50px;
  border-radius: 20px;
  border: 2px #ccc solid;
  /* box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2); */
  /* font-size: 20px; */
  padding: 20px;
  /* background-color: #192430 !important; */
}

input {
  /* color: #ffffff; */
}

.concert-list-container {
  background-color: rgb(218, 218, 218);
  /* background-image: url("./img/background-pattern.png");
  background-size: cover;
  background-position: bottom; */
  /* padding-top: 30px; */
  /* margin-top: -175px; */
}

.band-logo img {
  background-color: #192430;
  background-blend-mode: multiply;
}

.band-logo {
  max-width: 120px;
  height: auto;
  margin-left: 50px;
  /* background-color: #192430; */
  /* -webkit-filter: grayscale(100%); Safari 6.0 - 9.0 */
  /* filter: grayscale(100%); */
}

.nav-login-btn {
  width: 90px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand > img {
  padding: 7px 14px;
  width: 50%;
}

/* custom button gradient for create new posts */

.h1-grad {
  background: linear-gradient(200deg, #1a2980 0%, #26d0ce 50%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 72px;
}
.h1-card-grad {
  background: linear-gradient(200deg, #1a2980 0%, #26d0ce 50%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 60px;
}

.hr-grad {
  background: linear-gradient(to right, #1a2980 0%, #26d0ce 25%, #e62020 50%);
  height: 10px;
}

.hr-grad-2 {
  background: linear-gradient(to left, #1a2980 0%, #26d0ce 50%);
  height: 10px;
}

.hr-grad-3 {
  background: linear-gradient(to top, #1a2980 0%, #26d0ce 50%);
  height: 20px;
}

/* .hr-4 {
  color: #ccc;
  padding: 0px;
  margin: 5px;
} */

.btn-grad {
  background-image: linear-gradient(
    to right,
    #1a2980 0%,
    #26d0ce 51%,
    #1a2980 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px rgb(48, 48, 48);
  border-radius: 10px;
  /* display: block; */
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* Home Page Brewery Card Styling */

.view-btn {
  padding-right: 10px;
}

.card {
  border-radius: 10px !important;
  /* box-shadow: 0 4px 6px 0 hsla(0, 0%, 27%, 0.187); */
}

.concert-card-div {
  /* background-color: #f6fafb; */
  /* border: 1px #324961 solid; */
  /* box-shadow: 0 2px 6px 0 #60e9d93f; */
  /* border: linear-gradient(200deg, #1a2980 0%, #26d0ce 50%); */
}

.concert-card-div p {
  color: #454545;
  font-size: 15px;
}

.concert-card-div h2 {
  color: #60e9da;
}

.card-div {
  /* height: auto; */
  /* max-width: 555px !important; */
  overflow: hidden !important;
  /* text-align: center; */
}

.card-img-filter {
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
  /* background-image: url("https://cdn.wallpapersafari.com/13/52/2AyLvi.jpg"); */
}

.card-img-o {
  background: linear-gradient(
    to bottom,
    rgb(49, 47, 46),
    rgba(48, 37, 4, 0.329)
  );
}

.card-img-overlay {
  padding: 0 !important;
  margin: 0 !important;
}

.card-p-text {
  margin-top: -25px;
}

.band_card_border-right {
  border-right: 1px solid rgb(142, 142, 142);
}

.band_card_info-right {
  padding-left: 50px;
}

/* ________________________________________________________________ */

/* login / signup styling */

.body_of_form {
  background-color: #f7a900;
  transition: all 1s;
  transform-origin: 0 0;
  /* background: linear-gradient(to bottom, #bc7012, #efd002 100%); */
  background-image: url(./img/yvette-de-wit-NYrVisodQ2M-unsplash_edit-2-2.jpg);
  /* min-height: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100vh;
}

.outer-form-div {
  height: 100vh;
  width: 100vh;
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  border-radius: 10px;
}

.inner {
  max-width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(178, 179, 206, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.already_have_account {
  block-size: center;
  text-align: center;
}

.dont_have_account {
  block-size: center;
  text-align: center;
}

.update_title_color {
  color: white;
}

.update_address_color {
  color: white;
}

.update_website_color {
  color: white;
}

.update_phone_color {
  color: white;
}

/* Beer Card */

/* .beer-title {
  font-size: 14px;
  font-weight: 500;
  font-family: "Bebas Neue", cursive;
}

.beer-details {
  font-size: 25px;
  font-weight: 500;
  font-family: "Bebas Neue", cursive;
}

.beer-card-logo-div img {
  max-height: 100px !important;
  width: auto;
} */

/* User Page */

.profile-main-div {
  position: relative;
  top: 40px;
  background-color: rgba(240, 240, 240, 0.831);
}

.account-profile-div {
  padding: 80px;
  border-top: 2px solid #e4e4e4;
  /* background-color: rgb(230, 230, 230); */
  /* background: linear-gradient(to bottom, #d6d6d6, #afafaf 100%); */
}

.profile-edit-div {
  max-width: 600px;
  padding: 0 40px;
  /* background-color: rgb(253, 253, 253); */
}
.user-button {
  min-width: 100%;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);
  margin-bottom: 10px;
  height: 50px;
  font-size: 25px !important;
}

.footer-bg {
  /* background-color: #e1e8f0; */
}

.footer-bg-border {
  border-top: 1px solid rgb(201, 201, 201);
}

/* @media (max-width: 768px){
  .rowstyle {
      display: flex;
      flex-direction: column !important;
  } */
