.div-1 {
  background-color: #192430;
}

.div-2 {
  background-color: #e1e8f0;
}

.div-3 {
  background-color: #f6fafb;
}

.div-4 {
  background-color: #475668;
}

.h5-lb {
  color: #64bebf;
  font-size: 25px;
}

.hr-lb {
  color: #2A3948;
}
